<html>

<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src="/js/jquery.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/xuly.js"></script>
<title>Tivi</title>

<body>
    <!-- <audio id="sound1" src="/sounds/Test-Loa-No-Name.mp3" preload="auto"></audio> -->
    <div style="text-align: center; margin-top: 300px;">
        <div>
            <button id="btntv" style="font-size: 25px;">Test-Loa-No-Name.mp3</button>
        </div>
    </div>

</body>

</html>